body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.container a {
    color: #ffffff;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

nav {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

nav ul {
    list-style: none;
    margin: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

nav ul li {
    color: #fff;
    text-decoration: none;
}

nav ul li :hover {
    text-decoration: none;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

.profile {
    max-width: 400px;
    margin: 30px auto 0;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile label {
    margin-bottom: 10px;
    font-weight: bold;
}

.profile .field {
    margin-bottom: 30px;
}

.profile .field label {
    display: block;
}

.profile .field span {
    display: block;
    padding: 20px 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.edit-profile-button {
    text-align: center;
    margin-top: 20px;
}

.edit-profile-button button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile-button button:hover {
    background-color: #45a049;
}

.home-button {
    text-align: center;
    margin-top: 30px;
}

.home-button button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.home-button button:hover {
    background-color: #007B9E;
}
