<html>
  <head>
    <title>Match Form</title>
  </head>
  <body>
    <h1>Match Form</h1>
    <form>
      <input type='hidden' id='matchId' name='matchId' value='{{matchId}}' />

      <label for='stadiumName'>Stadium Name:</label>
      <input type='text' id='stadiumName' name='stadiumName' required />
      <br /><br />

      <label for='headCountPerTeam'>Head Count Per Team:</label>
      <input
        type='number'
        id='headCountPerTeam'
        name='headCountPerTeam'
        required
      /><br /><br />

      <label for='homeTeamMember'>Home Team Members:</label>
      <input
        type='text'
        id='homeTeamMember'
        name='homeTeamMember'
        required
      /><br /><br />

      <input type='submit' value='Submit' />
    </form>
  </body>
</html>