<!DOCTYPE html>
<html>
<head>
  <title>팀 생성 페이지</title>
  <link rel="stylesheet" href="/team/css/create.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>팀 생성</h2>
<div class="create-team">
  <form action="" method="POST">
    <div class="field">
      <label>팀 이름</label>
      <input type="text" name="teamName" id="teamName" placeholder="팀 이름을 입력하시오" required>
    </div>
    <div class="field">
      <label>활동 지역</label>
      <input type="text" name="region" id="region" placeholder="활동 지역을 입력하시오" required>
    </div>
    <div class="field" id="inputMember">
      <label>팀 멤버</label>
      <input class="input-member" type="text" name="member0" id="member0" value="{{ leaderName }}" readonly>
    </div>
    <div class="add-button">
      <button type="button" onclick="addNewMember()">+</button>
    </div>
    <div class="submit-button">
      <button type="submit">팀 생성하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="get">
      <button>메인</button>
    </form>
  </div>
</div>
<script src="script-create.js"></script>
</body>
</html>
