<!DOCTYPE html>
<html>
<head>
  <title>프로필 페이지</title>
  <link rel="stylesheet" href="/user/css/profile.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>프로필</h2>
<div class="profile">
  <div class="field">
    <label>닉네임</label>
    <span>{{ userName }}</span>
  </div>
  <div class="field">
    <label>이메일</label>
    <span>{{ email }}</span>
  </div>
  <div>
    <div class="edit-profile-button">
      <form action="/user/edit" method="GET">
        <button>프로필 수정하기</button>
      </form>
    </div>
    <div class="home-button">
      <form action="/" method="GET">
        <button>메인</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
