<!DOCTYPE html>
<html>
<head>
  <title>프로필 수정 페이지</title>
  <link rel="stylesheet" href="/user/css/profile-edit.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>프로필 수정</h2>
<div class="profile">
  <form action="/user/edit?_method=PATCH" method="POST">
    <div class="field">
      <label>닉네임</label>
      <input type="text" name="userName" value="{{ userName }}" required>
    </div>
    <div class="field">
      <label>이메일</label>
      <input type="email" name="email" value="{{ email }}" required>
    </div>
    <div class="edit-profile-button">
      <button type="submit">프로필 수정하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="get">
      <button>메인</button>
    </form>
  </div>
</div>
</body>
</html>
